<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/styles/srcery.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.1/highlight.min.js"></script>
    <script src="/static/script.js"></script>
    <title> {{mainSiteTitle}} :: {{pageTitle}} </title>
</head>
<body onload="main();">
    <header>
        {% for item in menuItems %}
        <div>
            {# If this is a menu item group, print it and print the sub-items. #}
            {% if item.isGroup() %}
                <a title="{{item.longName}}">{{item.shortName}}</a>
                <div class="dropdown-list">
                {% for subItem in item.subItems %}
                    <a href="{{subItem.href}}" title="{{subItem.longName}}" {% if request.path == subItem.href %} class="curr" {% endif %}>{{subItem.shortName}}</a>
                {% endfor %}
                </div>
            {# If this is a simple menu item, print it. #}
            {% else %} 
            <a href="{{item.href}}" title="{{item.longName}}" {% if request.path == item.href %} class="curr" {% endif %}>{{item.shortName}}</a>
            {% endif %}
            {% if not loop.last %}
                <span class="sep"></span>
            {% endif %}
        </div>
        {% endfor %}
    </header>
    <div id="gallerybg"></div>
    <div id="content">
        <h1>{{ contentTitle }}</h1>
        {% for paragraph in content %}
            <p>{{ paragraph|safe }}</p>
        {% endfor %}
    </div>
    <footer>
        Copyright {{ copyrightYear }} {{ copyrightHolder }}
        <br>Template by <a href="https://github.com/timre13">timre13</a>
    </footer>
    <script>hljs.highlightAll();</script>
</body>
</html>
